.input {
    width: 50vmin;
    height: 3vmin;
    font-size: calc(7px + 1vmin);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 0px;
    text-align: center;
}
.input:focus {
    outline: none;
}
/* This is used for removing placeholder while focus on input */
.input:focus::-webkit-input-placeholder { color:transparent; } 
.input:focus:-moz-placeholder { color:transparent; }